{% extends 'back.html.twig' %}

{% block title "Ajouter un nouvel article" %}

{% block bodyback %}

<h1>{{ title }}</h1>

{# form(form) #}
{{ form_start(form) }}<!-- <form method="" action=""> -->

    <!-- input titre -->
    <!-- input like l'un à côté de l'autre -->
    <div class="row">
        <div class="col-6 mb-3">
            {{ form_row(form.title , {'label':' titre de l\'article' }) }}
        </div>
        <div class="col-6 mb-3">
            {{ form_row(form.image) }}
        </div>
        <div class="col-4 mb-3">
            {{ form_label(form.liked, 'nombre de like') }}
            {{ form_widget(form.liked, {'attr': {'placeholder': 'saisir le nombre de like'}}) }}
            {{ form_errors(form.liked) }}
        </div>
        <div class="col-4 mb-3">
            {{ form_row(form.auteur , {'label':'auteur'}) }}
        </div>
        <div class="col-4 mb-3">
            {{ form_row(form.categories ) }}
        </div>
        <div class="col-12 mb-3">
             {{ form_row(form.description , {'label':'contenu de l\'article' , 'attr' : {'rows' : 10}}) }}
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary btn-lg" value="{{btn}}">
        </div>
    </div>

{{ form_end(form) }}<!-- </form> -->

{% endblock %}
