{% extends "base.html.twig" %}

{% block title 'article' %}

{% block body %}


<h1>{{ article.title }}</h1>

<p>{{ article.description | nl2br }}</p>

<ul class="list-inline">
    <li class="list-inline-item">écrit par <span class="badge bg-success">{{ article.auteur }}</span></li>
    <li class="list-inline-item">créé le <span class="badge bg-info">{{ article.createdAt | date("d/m/Y") }}</span></li>
    <li class="list-inline-item">nb like : <span class="badge bg-warning">{{ article.liked }}</span></li>
</ul>

{% endblock %}