{% extends "base.html.twig" %}

{% block title "bienvenue sur mon site"  %}

{% block body %}

{% for info in app.flashes('success') %}
    <div class="alert alert-success">
        {{ info }}
    </div>
{% endfor %}

<h1>je suis la page d'accueil</h1>
<!-- en réalisant l'héritage => base.html.twig
récupérer la barre de développement / profiler  -->
<p>possible d'afficher liste des routes des disponibles via la commande :</p>
<code>symfony console debug:router</code>

<div class="row">
{% for article in articles %}
    <div class="col-3">
        <h2>{{ article.title }}</h2>
        <p>créé par {{ article.auteur }}</p>
        <p>créé le {{ article.createdAt | date("d/m/Y") }}</p>
        <a href="{{path('article_single', {id : article.id})}}">lire la suite</a>
    </div>
{% endfor %}
</div>



{% endblock %}