{% for article in articles %}
    <div class="col-3">
        <h2 class="h5">{{ article.title }}</h2>
        <img src="{{ asset(article.image) }}" alt="" class="img-fluid">
        <p>créé par {{ article.membre.pseudo }}</p>
        <p>créé le {{ article.createdAt | date("d/m/Y") }}</p>
        <a href="{{path('article_single', {id : article.id})}}">lire la suite</a>
    </div>
{% endfor %}